<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Library_Managment_System.Properties.Settings.databaseConnectionString"
            connectionString="data source=&quot;C:\Users\oalam\OneDrive\Documents\Visual Studio 2015\Projects\Library Managment System\Library Managment System\bin\Debug\database.sqlite&quot;"
            providerName="System.Data.SQLite.EF6" />
        <add name="Library_Managment_System.Properties.Settings.databaseConnectionString1"
            connectionString="data source=&quot;C:\Users\oalam\OneDrive\Documents\Visual Studio 2015\Projects\Library Managment System\Library Managment System\bin\Debug\database\database.sqlite&quot;"
            providerName="System.Data.SQLite.EF6" />
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
